<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyD1Qqz1_DWYF-lcn3M_1hfoNzbHJFjyj2A</string>
	<key>GCM_SENDER_ID</key>
	<string>979616360741</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>comum.example.talkHubVs2</string>
	<key>PROJECT_ID</key>
	<string>mensagem-2435d</string>
	<key>STORAGE_BUCKET</key>
	<string>mensagem-2435d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:979616360741:ios:42f4791feb899af68692cc</string>
	<key>DATABASE_URL</key>
	<string>https://mensagem-2435d-default-rtdb.firebaseio.com</string>
</dict>
</plist>